<div class="container">
	<div class="row">
		<div class="col m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
		<div class="col m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
		<div class="col m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
		<div class="col m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
	</div>

	<div class="row">
		<div class="col s3 m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
		<div class="col s3 m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
		<div class="col s3 m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
		<div class="col s3 m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
	</div>
	<div class="row">
		<div class="col m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
		<div class="col m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
		<div class="col m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
		<div class="col m3 orange lighten-5">
			<div ng-click="runMap()">Buck</div>
		</div>
	</div>
</div>
	