<div class="container">
	<div class="row">
		<div class="col m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Buck" ng-click="runMap('buck')"><img src="/images/buck.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i id="doe" class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Doe" ng-click="runMap('doe')"><img src="/images/doe.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i id="turkey" class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Turkey" ng-click="runMap('buck')"><img onClick="window.location.reload()" src="/images/turkey.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i id="droppings" class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Droppings" ng-click="runMap('buck')"><img onClick="window.location.reload()" src="/images/poop2.png" style="width:115px;height:115px;"></i>
		</div>
	</div>

	<div class="row">
		<div class="col s3 m3">
			<i id="food-source" class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Food Source" ng-click="runMap()"><img onClick="window.location.reload()" src="/images/acorn.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col s3 m3">
			<i id="predator" class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Predator" ng-click="runMap()"><img onClick="window.location.reload()" src="/images/coyote.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col s3 m3">
			<i id="road-kill" class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Road Kill" ng-click="runMap()"><img onClick="window.location.reload()" src="/images/road-kill.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col s3 m3">
			<i id="shed" class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Shed" ng-click="runMap()"><img onClick="window.location.reload()" src="/images/shed.png" style="width:115px;height:115px;"></i>
		</div>
	</div>
	<div class="row">
		<div class="col m3">
			<i id="tracks" class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Tracks" ng-click="runMap()"><img onClick="window.location.reload()" src="/images/tracks.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Trail" ng-click="runMap()"><img onClick="window.location.reload()" src="/images/trail.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i id="buck-rub" class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Buck Rub" ng-click="runMap()"><img onClick="window.location.reload()" src="/images/tree.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i id="water-source" class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Water Source" ng-click="runMap()"><img onClick="window.location.reload()" src="/images/water2.png" style="width:115px;height:115px;"></i>
		</div>
	</div>
</div>
	