<div class="container">
	<div class="row">
		<div class="col m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Buck" ng-click="runMap()"><img src="/images/buck.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Doe" ng-click="runMap()"><img src="/images/doe.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Turkey" ng-click="runMap()"><img src="/images/turkey.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Droppings" ng-click="runMap()"><img src="/images/poop.png" style="width:115px;height:115px;"></i>
		</div>
	</div>

	<div class="row">
		<div class="col s3 m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Food Source" ng-click="runMap()"><img src="/images/acorn.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col s3 m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Predator" ng-click="runMap()"><img src="/images/coyote.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col s3 m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Road Kill" ng-click="runMap()"><img src="/images/road-kill.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col s3 m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Shed" ng-click="runMap()"><img src="/images/shed.png" style="width:115px;height:115px;"></i>
		</div>
	</div>
	<div class="row">
		<div class="col m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Tracks" ng-click="runMap()"><img src="/images/tracks.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Trail" ng-click="runMap()"><img src="/images/trail.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Buck Rub" ng-click="runMap()"><img src="/images/tree.png" style="width:115px;height:115px;"></i>
		</div>
		<div class="col m3">
			<i class=" tooltipped card-panel hoverable large material-icons" data-position="top" data-delay="10" data-tooltip="Water Source" ng-click="runMap()"><img src="/images/water2.png" style="width:115px;height:115px;"></i>
		</div>
	</div>
</div>
	