<nav ng-controller="navCtrl" class="green darken-4">
    <div class="nav-wrapper">
      <!-- <a href="#" class="brand-logo right">FaceBuck</a> -->
      <div class="container">
		    <ul id="nav-mobile">
      	 <div class="row">
  	      <div class="col s4 m4">
  		        <li><a ng-href="#!/home">MARKERS</a></li>
  	      </div>
	        <div class="col s4 m4">
		        <li><a ng-href="#!/map">MAP</a></li>
		      </div>
    		  <div class="col s4 m4">
    		        <li><a ng-href="#!/sightings">SIGHTINGS</a></li>
    		  </div>
      	 </div>
		    </ul> 	
      </div>
    </div>
  </nav>